.inp
  box-sizing border-box
  background transparent
  box-shadow none
  outline none
  display block
  -webkit-appearance none
  border none

.inp::placeholder
  opacity 1

.inp:focus::placeholder
  opacity 0

.inp.error
  border 2px solid #ff0000 !important


