block vars
    - var title='Title'

extends ../../partials/layout

block content
    main
        section.blog.header--padding
            .width-wrap
                ul.breadcrumbs
                    li
                        a(href="")
                            strong Блог
                    li
                        a(href="") Хозяйке на зметку
                    li
                        span Как уберечь ребенка от простуды

                article.blog__el
                    .img
                        img(src="../../../img/img--blog.png" alt /)

                    .content
                        time 12.03.2017

                        a(href="").title Как уберечь ребенка от простуды в садике

                        p Многим родителям знакома ситуация когда ребенок ходит 2-3 дня в&nbsp;садик и&nbsp;потом 10-14 дней родители пытаются вылечить его от&nbsp;простуды или какого-то другого вирусного заболевания. И&nbsp;это может продолжаться очень долго, тем самым заставляя родителей нервничать, &laquo;кормить&raquo; ребенка нескончаемым потоком лекарств, и&nbsp;доставлять массу неудобств на&nbsp;работе. Вообщем в&nbsp;таких ситуациях как правило забот может быть хоть отбавляй, походы по&nbsp;поликлиникам, аптекам, отпрашивания с&nbsp;работы или просьбы родственников посидеть с&nbsp;любимым (хоть и&nbsp;не&nbsp;совсем здоровым) внучком, племянником, крестником.
                        p Что&nbsp;же сделать для того, чтобы защитить своего малыша от&nbsp;простуды, приема лекарств, а&nbsp;себя обезопасить от&nbsp;причин нервничать и&nbsp;сбивать свой привычный рабочий ритм жизни. Для успешного решения этой проблемы необходимо обоюдное участие как родителей так и&nbsp;детских садов. Если вы&nbsp;как родитель будете выполнять все необходимые действия, а&nbsp;в&nbsp;детском саду условия соблюдаться не&nbsp;будут, то&nbsp;и&nbsp;результата не&nbsp;будет и&nbsp;наоборот, если у&nbsp;вас слабый малыш, не&nbsp;смотря на&nbsp;то, что детский сад проводит всю необходимую работу то&nbsp;это не&nbsp;застрахует малыша от&nbsp;болезни. Ниже мы&nbsp;рассматриваем три основных составляющих крепкого здоровья детей и&nbsp;бесперебойного ими посещения детских садов.
                        p
                            span Условия прибывания в&nbsp;детском саду
                            span Уборка и&nbsp;дезинфекция

                        p Это очень важная составляющая и&nbsp;от&nbsp;условий пребывания в&nbsp;детском саду и&nbsp;от&nbsp;подхода его работников к&nbsp;дезинфекции зависит очень многое. Начиная с&nbsp;самого простого&nbsp;&mdash; в&nbsp;садике должно быть чисто! Вам как родителю не&nbsp;стоит объяснять что дети это маленькие &laquo;поросята&raquo;, а&nbsp;представьте группу детей состоящую из&nbsp;8-10, а&nbsp;может и&nbsp;больше детей! Поэтому мойка полов, мебели, стен и&nbsp;главное игрушек это важная составляющая. Сюда&nbsp;же можно отнести генеральные уборки помещений. Мы&nbsp;проводим влажную уборку дважды в&nbsp;день, клеенчатые и&nbsp;другие моющиеся поверхности обрабатываем горячей водой с&nbsp;мылом, ежедневно пылесосим и&nbsp;чистим влажной щеткой ковры. Влажную уборку в&nbsp;спальнях проводим после дневного сна, в&nbsp;столовой&mdash; после каждого приема пищи. Генеральную уборку всех помещений и&nbsp;оборудования&nbsp;&mdash; один раз в&nbsp;месяц с&nbsp;применением моющих и&nbsp;дезинфекционных средств. Окна снаружи и&nbsp;изнутри моем в&nbsp;соответствии с&nbsp;загрязнением, но&nbsp;не&nbsp;реже двух раз в&nbsp;год (весной и&nbsp;осенью). Дезинфекция помещений так&nbsp;же очень сильный метод предотвращения распространения инфекций и&nbsp;микробов. Если в&nbsp;вашей группе есть портативный кварцевый аппарат это хорошо, если нет то&nbsp;может быть стоит предложить купить его на&nbsp;следующем родительском собрании? В&nbsp;нашем клубе, в&nbsp;группах висят облучатели рециркуляторы закрытого типа&nbsp;&mdash; ДЕЗАР. ДЕЗАР предотвращает распространение таких инфекций, как грипп, ОРЗ, дифтерия, туберкулез и&nbsp;многих других путем дезинфекции воздуха в&nbsp;помещении рекомендован для использования в&nbsp;детских садах и&nbsp;клубах. Помимо этого помещение должно регулярно проветриваться естественной вентиляцией.
                        p Так&nbsp;же мы&nbsp;рекомендуем вам почаще стирать одежду, в&nbsp;которой ваш ребенок ходит в&nbsp;садик и&nbsp;в&nbsp;которой он&nbsp;там пребывает. Если ребенок берет с&nbsp;собой в&nbsp;садик свои личные игрушки старайтесь их&nbsp;мыть после каждого посещения (насколько это возможно), так как игрушки особенно тряпочные и&nbsp;тканевые очень хорошие переносчики бактерий и&nbsp;инфекций.
                        p Активности
                        p Хорошим методом закаливания детей является прогулки по&nbsp;мокрой дорожке или полотенцу пропитанному соленой водой. (не&nbsp;на&nbsp;улице конечно, а&nbsp;в&nbsp;группе, помещении). Если в&nbsp;вашем детском саду такое практикуется то&nbsp;это просто замечательно. Полоскание горла прохладной водой для старших групп и&nbsp;отваром трав комнатной температуры для младших групп, или втягивание и&nbsp;высмаркивание носом прохладной воды, все эти процедуры помогают закалить организм. Различные виды лечебной гимнастики и&nbsp;зарядки. У&nbsp;нас в&nbsp;саду есть целый спортзал оборудованный различным инвентарем для этих целей и&nbsp;дети с&nbsp;огромный удовольствием принимают участие во&nbsp;всех спортивных мероприятиях.
                        p Закаливание вашего малыша
                        p Существует огромное множество разных методов закаливания малыша о&nbsp;некоторых из&nbsp;них чуть ниже, но&nbsp;мы&nbsp;хотели&nbsp;бы остановить особое внимание на&nbsp;одной концепции.
                        p Она очень проста и&nbsp;призывает приучать ребенка к&nbsp;&laquo;прохладному образу жизни&raquo;, для того, чтобы организм ребенка не&nbsp;был изнежен излишним теплом и&nbsp;повышенной температурой. Дома не&nbsp;стоит одевать ребенка в&nbsp;&laquo;сто одежек&raquo;, почаще давайте ребенку дышать свежим и&nbsp;может быть даже морозным воздухом, но&nbsp;исключительно вдыхать носом и&nbsp;выдыхать ртом. Одевайте ребенка только соответственно погоде, не&nbsp;стоит его слишком укутывать излишнее перегревание расслабляет организм и&nbsp;замедляет процесс становления иммунной системы. Другими словами не&nbsp;позволяйте ребенку излишне перегреваться, но&nbsp;и&nbsp;следите затем, чтобы он&nbsp;не&nbsp;переохлаждался.

                        .article-params
                            .data
                                div
                                    img(src="../../../img/icon--eye.png" alt /)
                                    span 12544
                                div
                                    img(src="../../../img/icon--comment.png" alt /)
                                    span 1003
                                div
                                    img(src="../../../img/icon--like.png" alt /)
                                    span 600

                            a(href="" data-url="" data-method="post").btn.btn-blue.js--like-article Мне понравилось!

                            script(src="http://yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
                            script(src="http://yastatic.net/share2/share.js")
                            div(data-services="vkontakte,facebook,odnoklassniki,twitter").share.ya-share2

                        .comments
                            h3 Комментарии пользователей:

                            ul
                                li
                                    time 12.03.2017 12:28
                                    span
                                        strong Константин Константинопольский

                                    p Удобно ребенку!!! С&nbsp;9&nbsp;месяцев до&nbsp;3&nbsp;лет использовали))) Наклон кресла, если ребенок начинает засыпать, мягко и&nbsp;непринужденно всего то&nbsp;тянешь за&nbsp;нижнюю часть. Ребенок сидит высоко и&nbsp;разглядывает другие машины (нам строительные очень нравились!!).
                                    p Всем советую!!! Хоть сейчас цена и&nbsp;кусается в&nbsp;2014 брали за&nbsp;12000))) но&nbsp;того стоит!!! А&nbsp;еще общивка легко снимается и&nbsp;стирается в&nbsp;машинке.

                    .pagination
                        a(href="").pagination-start В начало
                        a(href="").pagination-prev

                        .number-wrap
                            a(href="").pagination-number 1
                            span.pagination-number.current 2
                            a(href="").pagination-number 3
                            a(href="").pagination-number ...
                            a(href="").pagination-number 27

                        a(href="").pagination-next
                        a(href="").pagination-end В конец

                    .add-comment
                        h3 Оставить комментарий

                        form(action="" method="post").main-form
                            textarea(name="comment").inp.required

                            input(type="submit" value="Отправить").btn.btn-blue.js--form-submit

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/blog-inner.jpg",opacity: 0.5,top: 171,left: 0,center: false,clip: true,show: false});});





