block vars
    - var title='Title'

extends ../../partials/layout

block content
    main
        section.partner.header--padding
            .width-wrap
                h2 Партнерство с нашей компанией

                .text
                    .text__el
                        h3 Партнерская программа

                        .flex-between
                            ul.text-decor
                                li
                                    span 1
                                    p Регистрируетесь в&nbsp;программе
                                li
                                    span 2
                                    p Размещайте наши баннеры на&nbsp;своем ресурсе
                                li
                                    span 3
                                    p Получайте прибыль от&nbsp;партнерской программы

                            img(src="../../../img/img--partner.png" alt /).partner-img

                    .text__el
                        h3 Регистрируйтесь
                        p Зарегистрируйтесь в&nbsp;программе. Это быстро и&nbsp;бесплатно.

                    .text__el
                        h3 Привлекайте
                        p Привлекайте покупателей на&nbsp;mariatk.ru. Для этого достаточно разместить наши баннеры (мы&nbsp;предоставляем их&nbsp;бесплатно) на&nbsp;своих сайтах и&nbsp;страницах 8&nbsp;соцсетях.

                    .text__el
                        h3 Зарабатывайте
                        p Зарабатывайте с&nbsp;каждого заказа до&nbsp;3,23% с&nbsp;НДС.

                    .text__el
                        p Широкий ассортимент, присутствие по&nbsp;всей России, скидки и&nbsp;выгодные предложения, качественный сервис&nbsp;&mdash; тысячи покупателей выбирают нас каждый день! А&nbsp;их&nbsp;покупки&nbsp;&mdash; это ваши доходы!

    script(type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/partner.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});





