block vars
    - var title='Title'

extends ../../partials/layout-bg

block content
    main
        section.brands.header--padding
            .width-wrap
                h2 Бренды

                ul.letters
                    li
                        a(href="") А
                    li
                        a(href="") Б
                    li
                        a(href="") В
                    li
                        a(href="") Г
                    li
                        a(href="") Д
                    li
                        a(href="") Е
                    li
                        a(href="") Ж
                    li
                        a(href="") З
                    li
                        a(href="") И
                    li
                        a(href="") К
                    li
                        a(href="") Л
                    li
                        a(href="") М
                    li
                        a(href="") Н
                    li
                        a(href="") О
                    li
                        a(href="") П
                    li
                        a(href="") Р
                    li
                        a(href="") С
                    li
                        a(href="") Т
                    li
                        a(href="") У
                    li
                        a(href="") Ф
                    li
                        a(href="") Х
                    li
                        a(href="") Ц
                    li
                        a(href="") Ч
                    li
                        a(href="") Ш
                    li
                        a(href="") Щ
                    li
                        a(href="") Э
                    li
                        a(href="") Ю
                    li
                        a(href="") Я

                ul.letters
                    li
                        a(href="") A
                    li
                        a(href="")  B
                    li
                        a(href="")  C
                    li
                        a(href="") D
                    li
                        a(href="") E
                    li
                        a(href="") F
                    li
                        a(href="") G
                    li
                        a(href="") H
                    li
                        a(href="") I
                    li
                        a(href="") J
                    li
                        a(href="") K
                    li
                        a(href="") L
                    li
                        a(href="") M
                    li
                        a(href="") N
                    li.active
                        span O
                    li
                        a(href="") P
                    li
                        a(href="") Q
                    li
                        a(href="") R
                    li
                        a(href="") S
                    li
                        a(href="") T
                    li
                        a(href="") U
                    li
                        a(href="") V
                    li
                        a(href="") W
                    li
                        a(href="") X
                    li
                        a(href="") Y
                    li
                        a(href="") Z

                ul.brends-list
                    li
                        img(src="../../../img/img---brend.jpg" alt /)

                        .content-wrap
                            .content.mCustomScrollbar
                                h3 Термобелье &laquo;NORVEG&raquo;

                                p &mdash;&nbsp;это особая одежда, в&nbsp;которой не&nbsp;просто тепло в&nbsp;холода, в&nbsp;нем осуществляется своеобразный &laquo;климат-контроль&raquo; температуры тела человека. В&nbsp;термобелье используются инновационные материалы и&nbsp;технологии, благодаря которым&nbsp;Вы будете себя чувствовать комфортно и&nbsp;при физических нагрузках, и&nbsp;в&nbsp;спокойном состоянии на&nbsp;морозе. В&nbsp;термобелье &laquo;NORVEG&raquo; Вам не&nbsp;страшны ни&nbsp;переохлаждение, ни&nbsp;перегрев. Двухслойный материал эффективно отводит влагу от&nbsp;кожи, сохраняя ее&nbsp;сухой, и&nbsp;удерживает тепло. Такие уникальные свойства термобелья выручат в&nbsp;любой ситуации: во&nbsp;время занятий зимними видами спорта (лыжи, коньки и&nbsp;проч.); при работе на&nbsp;открытом воздухе при низких температурах; во&nbsp;время зимних прогулок и&nbsp;активных игр детей на&nbsp;улице; при длительном пребывании на&nbsp;морозе рыбаков, охотников, туристов; для предотвращения переохлаждения у&nbsp;пожилых людей и&nbsp;людей, подверженных простудным заболеваниям.
                                p Продуманный крой и&nbsp;эластичный материал дают удивительный комфорт и&nbsp;мягкое облегание, не&nbsp;стесняющее движений. Многие модели термобелья от&nbsp;&quot;Norveg&quot;(футболки, леггинсы, детские комплекты) можно носить в&nbsp;качестве верхней одежды для дома и&nbsp;улицы. А&nbsp;широкий модельный ряд теплой одежды из&nbsp;натуральных шерсти дополнит и&nbsp;украсит любой гардероб.

                    li
                        img(src="../../../img/img---brend.jpg" alt /)

                        .content-wrap
                            .content.mCustomScrollbar
                                h3 Термобелье &laquo;NORVEG&raquo;

                                p &mdash;&nbsp;это особая одежда, в&nbsp;которой не&nbsp;просто тепло в&nbsp;холода, в&nbsp;нем осуществляется своеобразный &laquo;климат-контроль&raquo; температуры тела человека. В&nbsp;термобелье используются инновационные материалы и&nbsp;технологии, благодаря которым&nbsp;Вы будете себя чувствовать комфортно и&nbsp;при физических нагрузках, и&nbsp;в&nbsp;спокойном состоянии на&nbsp;морозе. В&nbsp;термобелье &laquo;NORVEG&raquo; Вам не&nbsp;страшны ни&nbsp;переохлаждение, ни&nbsp;перегрев. Двухслойный материал эффективно отводит влагу от&nbsp;кожи, сохраняя ее&nbsp;сухой, и&nbsp;удерживает тепло. Такие уникальные свойства термобелья выручат в&nbsp;любой ситуации: во&nbsp;время занятий зимними видами спорта (лыжи, коньки и&nbsp;проч.); при работе на&nbsp;открытом воздухе при низких температурах; во&nbsp;время зимних прогулок и&nbsp;активных игр детей на&nbsp;улице; при длительном пребывании на&nbsp;морозе рыбаков, охотников, туристов; для предотвращения переохлаждения у&nbsp;пожилых людей и&nbsp;людей, подверженных простудным заболеваниям.
                                p Продуманный крой и&nbsp;эластичный материал дают удивительный комфорт и&nbsp;мягкое облегание, не&nbsp;стесняющее движений. Многие модели термобелья от&nbsp;&quot;Norveg&quot;(футболки, леггинсы, детские комплекты) можно носить в&nbsp;качестве верхней одежды для дома и&nbsp;улицы. А&nbsp;широкий модельный ряд теплой одежды из&nbsp;натуральных шерсти дополнит и&nbsp;украсит любой гардероб.

                    li
                        img(src="../../../img/img---brend.jpg" alt /)

                        .content-wrap
                            .content.mCustomScrollbar
                                h3 Термобелье &laquo;NORVEG&raquo;

                                p &mdash;&nbsp;это особая одежда, в&nbsp;которой не&nbsp;просто тепло в&nbsp;холода, в&nbsp;нем осуществляется своеобразный &laquo;климат-контроль&raquo; температуры тела человека. В&nbsp;термобелье используются инновационные материалы и&nbsp;технологии, благодаря которым&nbsp;Вы будете себя чувствовать комфортно и&nbsp;при физических нагрузках, и&nbsp;в&nbsp;спокойном состоянии на&nbsp;морозе. В&nbsp;термобелье &laquo;NORVEG&raquo; Вам не&nbsp;страшны ни&nbsp;переохлаждение, ни&nbsp;перегрев. Двухслойный материал эффективно отводит влагу от&nbsp;кожи, сохраняя ее&nbsp;сухой, и&nbsp;удерживает тепло. Такие уникальные свойства термобелья выручат в&nbsp;любой ситуации: во&nbsp;время занятий зимними видами спорта (лыжи, коньки и&nbsp;проч.); при работе на&nbsp;открытом воздухе при низких температурах; во&nbsp;время зимних прогулок и&nbsp;активных игр детей на&nbsp;улице; при длительном пребывании на&nbsp;морозе рыбаков, охотников, туристов; для предотвращения переохлаждения у&nbsp;пожилых людей и&nbsp;людей, подверженных простудным заболеваниям.
                                p Продуманный крой и&nbsp;эластичный материал дают удивительный комфорт и&nbsp;мягкое облегание, не&nbsp;стесняющее движений. Многие модели термобелья от&nbsp;&quot;Norveg&quot;(футболки, леггинсы, детские комплекты) можно носить в&nbsp;качестве верхней одежды для дома и&nbsp;улицы. А&nbsp;широкий модельный ряд теплой одежды из&nbsp;натуральных шерсти дополнит и&nbsp;украсит любой гардероб.

                    li
                        img(src="../../../img/img---brend.jpg" alt /)

                        .content-wrap
                            .content.mCustomScrollbar
                                h3 Термобелье &laquo;NORVEG&raquo;

                                p &mdash;&nbsp;это особая одежда, в&nbsp;которой не&nbsp;просто тепло в&nbsp;холода, в&nbsp;нем осуществляется своеобразный &laquo;климат-контроль&raquo; температуры тела человека. В&nbsp;термобелье используются инновационные материалы и&nbsp;технологии, благодаря которым&nbsp;Вы будете себя чувствовать комфортно и&nbsp;при физических нагрузках, и&nbsp;в&nbsp;спокойном состоянии на&nbsp;морозе. В&nbsp;термобелье &laquo;NORVEG&raquo; Вам не&nbsp;страшны ни&nbsp;переохлаждение, ни&nbsp;перегрев. Двухслойный материал эффективно отводит влагу от&nbsp;кожи, сохраняя ее&nbsp;сухой, и&nbsp;удерживает тепло. Такие уникальные свойства термобелья выручат в&nbsp;любой ситуации: во&nbsp;время занятий зимними видами спорта (лыжи, коньки и&nbsp;проч.); при работе на&nbsp;открытом воздухе при низких температурах; во&nbsp;время зимних прогулок и&nbsp;активных игр детей на&nbsp;улице; при длительном пребывании на&nbsp;морозе рыбаков, охотников, туристов; для предотвращения переохлаждения у&nbsp;пожилых людей и&nbsp;людей, подверженных простудным заболеваниям.
                                p Продуманный крой и&nbsp;эластичный материал дают удивительный комфорт и&nbsp;мягкое облегание, не&nbsp;стесняющее движений. Многие модели термобелья от&nbsp;&quot;Norveg&quot;(футболки, леггинсы, детские комплекты) можно носить в&nbsp;качестве верхней одежды для дома и&nbsp;улицы. А&nbsp;широкий модельный ряд теплой одежды из&nbsp;натуральных шерсти дополнит и&nbsp;украсит любой гардероб.

                    li
                        img(src="../../../img/img---brend.jpg" alt /)

                        .content-wrap
                            .content.mCustomScrollbar
                                h3 Термобелье &laquo;NORVEG&raquo;

                                p &mdash;&nbsp;это особая одежда, в&nbsp;которой не&nbsp;просто тепло в&nbsp;холода, в&nbsp;нем осуществляется своеобразный &laquo;климат-контроль&raquo; температуры тела человека. В&nbsp;термобелье используются инновационные материалы и&nbsp;технологии, благодаря которым&nbsp;Вы будете себя чувствовать комфортно и&nbsp;при физических нагрузках, и&nbsp;в&nbsp;спокойном состоянии на&nbsp;морозе. В&nbsp;термобелье &laquo;NORVEG&raquo; Вам не&nbsp;страшны ни&nbsp;переохлаждение, ни&nbsp;перегрев. Двухслойный материал эффективно отводит влагу от&nbsp;кожи, сохраняя ее&nbsp;сухой, и&nbsp;удерживает тепло. Такие уникальные свойства термобелья выручат в&nbsp;любой ситуации: во&nbsp;время занятий зимними видами спорта (лыжи, коньки и&nbsp;проч.); при работе на&nbsp;открытом воздухе при низких температурах; во&nbsp;время зимних прогулок и&nbsp;активных игр детей на&nbsp;улице; при длительном пребывании на&nbsp;морозе рыбаков, охотников, туристов; для предотвращения переохлаждения у&nbsp;пожилых людей и&nbsp;людей, подверженных простудным заболеваниям.
                                p Продуманный крой и&nbsp;эластичный материал дают удивительный комфорт и&nbsp;мягкое облегание, не&nbsp;стесняющее движений. Многие модели термобелья от&nbsp;&quot;Norveg&quot;(футболки, леггинсы, детские комплекты) можно носить в&nbsp;качестве верхней одежды для дома и&nbsp;улицы. А&nbsp;широкий модельный ряд теплой одежды из&nbsp;натуральных шерсти дополнит и&nbsp;украсит любой гардероб.

                    li
                        img(src="../../../img/img---brend.jpg" alt /)

                        .content-wrap
                            .content.mCustomScrollbar
                                h3 Термобелье &laquo;NORVEG&raquo;

                                p &mdash;&nbsp;это особая одежда, в&nbsp;которой не&nbsp;просто тепло в&nbsp;холода, в&nbsp;нем осуществляется своеобразный &laquo;климат-контроль&raquo; температуры тела человека. В&nbsp;термобелье используются инновационные материалы и&nbsp;технологии, благодаря которым&nbsp;Вы будете себя чувствовать комфортно и&nbsp;при физических нагрузках, и&nbsp;в&nbsp;спокойном состоянии на&nbsp;морозе. В&nbsp;термобелье &laquo;NORVEG&raquo; Вам не&nbsp;страшны ни&nbsp;переохлаждение, ни&nbsp;перегрев. Двухслойный материал эффективно отводит влагу от&nbsp;кожи, сохраняя ее&nbsp;сухой, и&nbsp;удерживает тепло. Такие уникальные свойства термобелья выручат в&nbsp;любой ситуации: во&nbsp;время занятий зимними видами спорта (лыжи, коньки и&nbsp;проч.); при работе на&nbsp;открытом воздухе при низких температурах; во&nbsp;время зимних прогулок и&nbsp;активных игр детей на&nbsp;улице; при длительном пребывании на&nbsp;морозе рыбаков, охотников, туристов; для предотвращения переохлаждения у&nbsp;пожилых людей и&nbsp;людей, подверженных простудным заболеваниям.
                                p Продуманный крой и&nbsp;эластичный материал дают удивительный комфорт и&nbsp;мягкое облегание, не&nbsp;стесняющее движений. Многие модели термобелья от&nbsp;&quot;Norveg&quot;(футболки, леггинсы, детские комплекты) можно носить в&nbsp;качестве верхней одежды для дома и&nbsp;улицы. А&nbsp;широкий модельный ряд теплой одежды из&nbsp;натуральных шерсти дополнит и&nbsp;украсит любой гардероб.

                    li
                        img(src="../../../img/img---brend.jpg" alt /)

                        .content-wrap
                            .content.mCustomScrollbar
                                h3 Термобелье &laquo;NORVEG&raquo;

                                p &mdash;&nbsp;это особая одежда, в&nbsp;которой не&nbsp;просто тепло в&nbsp;холода, в&nbsp;нем осуществляется своеобразный &laquo;климат-контроль&raquo; температуры тела человека. В&nbsp;термобелье используются инновационные материалы и&nbsp;технологии, благодаря которым&nbsp;Вы будете себя чувствовать комфортно и&nbsp;при физических нагрузках, и&nbsp;в&nbsp;спокойном состоянии на&nbsp;морозе. В&nbsp;термобелье &laquo;NORVEG&raquo; Вам не&nbsp;страшны ни&nbsp;переохлаждение, ни&nbsp;перегрев. Двухслойный материал эффективно отводит влагу от&nbsp;кожи, сохраняя ее&nbsp;сухой, и&nbsp;удерживает тепло. Такие уникальные свойства термобелья выручат в&nbsp;любой ситуации: во&nbsp;время занятий зимними видами спорта (лыжи, коньки и&nbsp;проч.); при работе на&nbsp;открытом воздухе при низких температурах; во&nbsp;время зимних прогулок и&nbsp;активных игр детей на&nbsp;улице; при длительном пребывании на&nbsp;морозе рыбаков, охотников, туристов; для предотвращения переохлаждения у&nbsp;пожилых людей и&nbsp;людей, подверженных простудным заболеваниям.
                                p Продуманный крой и&nbsp;эластичный материал дают удивительный комфорт и&nbsp;мягкое облегание, не&nbsp;стесняющее движений. Многие модели термобелья от&nbsp;&quot;Norveg&quot;(футболки, леггинсы, детские комплекты) можно носить в&nbsp;качестве верхней одежды для дома и&nbsp;улицы. А&nbsp;широкий модельный ряд теплой одежды из&nbsp;натуральных шерсти дополнит и&nbsp;украсит любой гардероб.

                    li
                        img(src="../../../img/img---brend.jpg" alt /)

                        .content-wrap
                            .content.mCustomScrollbar
                                h3 Термобелье &laquo;NORVEG&raquo;

                                p &mdash;&nbsp;это особая одежда, в&nbsp;которой не&nbsp;просто тепло в&nbsp;холода, в&nbsp;нем осуществляется своеобразный &laquo;климат-контроль&raquo; температуры тела человека. В&nbsp;термобелье используются инновационные материалы и&nbsp;технологии, благодаря которым&nbsp;Вы будете себя чувствовать комфортно и&nbsp;при физических нагрузках, и&nbsp;в&nbsp;спокойном состоянии на&nbsp;морозе. В&nbsp;термобелье &laquo;NORVEG&raquo; Вам не&nbsp;страшны ни&nbsp;переохлаждение, ни&nbsp;перегрев. Двухслойный материал эффективно отводит влагу от&nbsp;кожи, сохраняя ее&nbsp;сухой, и&nbsp;удерживает тепло. Такие уникальные свойства термобелья выручат в&nbsp;любой ситуации: во&nbsp;время занятий зимними видами спорта (лыжи, коньки и&nbsp;проч.); при работе на&nbsp;открытом воздухе при низких температурах; во&nbsp;время зимних прогулок и&nbsp;активных игр детей на&nbsp;улице; при длительном пребывании на&nbsp;морозе рыбаков, охотников, туристов; для предотвращения переохлаждения у&nbsp;пожилых людей и&nbsp;людей, подверженных простудным заболеваниям.
                                p Продуманный крой и&nbsp;эластичный материал дают удивительный комфорт и&nbsp;мягкое облегание, не&nbsp;стесняющее движений. Многие модели термобелья от&nbsp;&quot;Norveg&quot;(футболки, леггинсы, детские комплекты) можно носить в&nbsp;качестве верхней одежды для дома и&nbsp;улицы. А&nbsp;широкий модельный ряд теплой одежды из&nbsp;натуральных шерсти дополнит и&nbsp;украсит любой гардероб.

                    li
                        img(src="../../../img/img---brend.jpg" alt /)

                        .content-wrap
                            .content.mCustomScrollbar
                                h3 Термобелье &laquo;NORVEG&raquo;

                                p &mdash;&nbsp;это особая одежда, в&nbsp;которой не&nbsp;просто тепло в&nbsp;холода, в&nbsp;нем осуществляется своеобразный &laquo;климат-контроль&raquo; температуры тела человека. В&nbsp;термобелье используются инновационные материалы и&nbsp;технологии, благодаря которым&nbsp;Вы будете себя чувствовать комфортно и&nbsp;при физических нагрузках, и&nbsp;в&nbsp;спокойном состоянии на&nbsp;морозе. В&nbsp;термобелье &laquo;NORVEG&raquo; Вам не&nbsp;страшны ни&nbsp;переохлаждение, ни&nbsp;перегрев. Двухслойный материал эффективно отводит влагу от&nbsp;кожи, сохраняя ее&nbsp;сухой, и&nbsp;удерживает тепло. Такие уникальные свойства термобелья выручат в&nbsp;любой ситуации: во&nbsp;время занятий зимними видами спорта (лыжи, коньки и&nbsp;проч.); при работе на&nbsp;открытом воздухе при низких температурах; во&nbsp;время зимних прогулок и&nbsp;активных игр детей на&nbsp;улице; при длительном пребывании на&nbsp;морозе рыбаков, охотников, туристов; для предотвращения переохлаждения у&nbsp;пожилых людей и&nbsp;людей, подверженных простудным заболеваниям.
                                p Продуманный крой и&nbsp;эластичный материал дают удивительный комфорт и&nbsp;мягкое облегание, не&nbsp;стесняющее движений. Многие модели термобелья от&nbsp;&quot;Norveg&quot;(футболки, леггинсы, детские комплекты) можно носить в&nbsp;качестве верхней одежды для дома и&nbsp;улицы. А&nbsp;широкий модельный ряд теплой одежды из&nbsp;натуральных шерсти дополнит и&nbsp;украсит любой гардероб.

                    li
                        img(src="../../../img/img---brend.jpg" alt /)

                        .content-wrap
                            .content.mCustomScrollbar
                                h3 Термобелье &laquo;NORVEG&raquo;

                                p &mdash;&nbsp;это особая одежда, в&nbsp;которой не&nbsp;просто тепло в&nbsp;холода, в&nbsp;нем осуществляется своеобразный &laquo;климат-контроль&raquo; температуры тела человека. В&nbsp;термобелье используются инновационные материалы и&nbsp;технологии, благодаря которым&nbsp;Вы будете себя чувствовать комфортно и&nbsp;при физических нагрузках, и&nbsp;в&nbsp;спокойном состоянии на&nbsp;морозе. В&nbsp;термобелье &laquo;NORVEG&raquo; Вам не&nbsp;страшны ни&nbsp;переохлаждение, ни&nbsp;перегрев. Двухслойный материал эффективно отводит влагу от&nbsp;кожи, сохраняя ее&nbsp;сухой, и&nbsp;удерживает тепло. Такие уникальные свойства термобелья выручат в&nbsp;любой ситуации: во&nbsp;время занятий зимними видами спорта (лыжи, коньки и&nbsp;проч.); при работе на&nbsp;открытом воздухе при низких температурах; во&nbsp;время зимних прогулок и&nbsp;активных игр детей на&nbsp;улице; при длительном пребывании на&nbsp;морозе рыбаков, охотников, туристов; для предотвращения переохлаждения у&nbsp;пожилых людей и&nbsp;людей, подверженных простудным заболеваниям.
                                p Продуманный крой и&nbsp;эластичный материал дают удивительный комфорт и&nbsp;мягкое облегание, не&nbsp;стесняющее движений. Многие модели термобелья от&nbsp;&quot;Norveg&quot;(футболки, леггинсы, детские комплекты) можно носить в&nbsp;качестве верхней одежды для дома и&nbsp;улицы. А&nbsp;широкий модельный ряд теплой одежды из&nbsp;натуральных шерсти дополнит и&nbsp;украсит любой гардероб.

                .brends-content.hidden-block

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/brends.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});





