block vars
    - var title='Title'

extends ../../partials/layout

block content
    main
        section.condition.header--padding
            .width-wrap
                h2 О доставке

                .flex-between.delivery
                    .one-half.text
                        h3 Доставка товара по&nbsp;Москве

                        p Избавьте себя от&nbsp;забот при перевозке товара&nbsp;&mdash; мы&nbsp;быстро и&nbsp;бережно доставим вашу покупку в&nbsp;квартиру или офис.

                        p
                            strong Преимущества доставки:

                        ul
                            li В&nbsp;удобное время;
                            li Обязательный звонок курьера за&nbsp;час до&nbsp;доставки товара;
                            li Бережная транспортировка товара на&nbsp;специально оборудованных 			 автомобилях;
                            li Доставка товара до&nbsp;указанного Вами места в&nbsp;квартире или офисе независимо 	 от&nbsp;этажа (даже, если в&nbsp;доме нет лифта).
                            li Распакуем и&nbsp;продемонстрируем товар

                        h3.brown Срочная доставка товара по&nbsp;заказу на&nbsp;сайте

                        p
                            span Для всех, кто не&nbsp;хочет ждать, а&nbsp;хочет радоваться своей покупке уже сегодня, &laquo;Эльдорадо&raquo; предлагает услугу срочной доставки!
                            span Заказы на&nbsp;доставку товара, оформленные до&nbsp;13.00 текущего дня, мы&nbsp;доставим в&nbsp;тот&nbsp;же день до&nbsp;24:00&nbsp;часов.
                            span Заказы на&nbsp;доставку товара, оформленные с&nbsp;18.30 до&nbsp;23.59 текущего дня, мы&nbsp;доставим на&nbsp;следующий день с&nbsp;15:00 до&nbsp;24:00&nbsp;часов.
                            span Стоимость срочной доставки не&nbsp;зависит от&nbsp;габаритов товара и&nbsp;осуществляется в&nbsp;пределах города (для Москвы&nbsp;&mdash; в&nbsp;пределах МКАД).

                    .one-half.links
                        h3 Заказать доставку&nbsp;Вы можете, совершив покупку товара

                        ul.blue
                            li На&nbsp;сайте;
                            li В&nbsp;розничных магазинах;
                            li В&nbsp;пунктах интернет-магазина;
                            li В&nbsp;интернет-гипермаркетах.

                        img(src="../../../img/img--delivery-1.png" alt /).img--delivery-1

                h2 Оплата

                h3 Способы оплаты товаров и&nbsp;услуг

                .mobile-select
                    select.js--select-styled
                        option Наличный расчёт
                        option Банковской картой
                        option Бонусной картой
                        option Кредит

                .tabs
                    ul.tabs__caption
                        li.active Наличный расчёт
                        li Банковской картой
                        li Бонусной картой
                        li Кредит

                    .tabs__content.active
                        .flex-between
                            .one-half.links
                                img(src="../../../img/img--delivery-2.png").links-img

                                ul.blue
                                    li Безопасно;
                                    li Отсутствие комиссий;
                                    li Не&nbsp;нужно тратить время на&nbsp;поход в&nbsp;банкомат.

                            .one-half.text
                                h3 Оплата онлайн на&nbsp;сайте

                                p Оплата заказа производится через платежную систему банка ООО &laquo;Сбербанк&raquo; при оформлении заказа.
                                p Не&nbsp;принимаются банковские карты МИР, Visa и&nbsp;MasterCard без кода CVV2/CVC2.
                                p При доставке на&nbsp;дом оплаченного онлайн-заказа сотрудник службы доставки обязан попросить предъявить документ, удостоверяющий личность, во&nbsp;избежание получения товара третьим лицом.
                                p Внимание! Во&nbsp;избежание получения товара третьими лицами, выдача товара производится только контактному лицу, указанному в&nbsp;заказе. При получении заказа с&nbsp;онлайн оплатой в&nbsp;розничном магазине самовывозом необходимо обязательно назвать код, который отправляется в&nbsp;смс о&nbsp;готовности заказа на&nbsp;номер, указанный в&nbsp;заказе.

                    .tabs__content
                        .flex-between
                            .one-half.links
                                img(src="../../../img/img--delivery-2.png").links-img

                                ul.blue
                                    li Элемент списка 1
                                    li Элемент списка 2
                                    li Элемент списка 3

                            .one-half.text
                                h3 Контент для второго таба

                                p Оплата заказа производится через платежную систему банка ООО &laquo;Сбербанк&raquo; при оформлении заказа.
                                p Не&nbsp;принимаются банковские карты МИР, Visa и&nbsp;MasterCard без кода CVV2/CVC2.
                                p При доставке на&nbsp;дом оплаченного онлайн-заказа сотрудник службы доставки обязан попросить предъявить документ, удостоверяющий личность, во&nbsp;избежание получения товара третьим лицом.
                                p Внимание! Во&nbsp;избежание получения товара третьими лицами, выдача товара производится только контактному лицу, указанному в&nbsp;заказе. При получении заказа с&nbsp;онлайн оплатой в&nbsp;розничном магазине самовывозом необходимо обязательно назвать код, который отправляется в&nbsp;смс о&nbsp;готовности заказа на&nbsp;номер, указанный в&nbsp;заказе.


                    .tabs__content
                        .flex-between
                            .one-half.links
                                img(src="../../../img/img--delivery-2.png").links-img

                                ul.blue
                                    li Элемент списка 1
                                    li Элемент списка 2
                                    li Элемент списка 3

                            .one-half.text
                                h3 Контент для третьего таба

                                p Оплата заказа производится через платежную систему банка ООО &laquo;Сбербанк&raquo; при оформлении заказа.
                                p Не&nbsp;принимаются банковские карты МИР, Visa и&nbsp;MasterCard без кода CVV2/CVC2.
                                p При доставке на&nbsp;дом оплаченного онлайн-заказа сотрудник службы доставки обязан попросить предъявить документ, удостоверяющий личность, во&nbsp;избежание получения товара третьим лицом.
                                p Внимание! Во&nbsp;избежание получения товара третьими лицами, выдача товара производится только контактному лицу, указанному в&nbsp;заказе. При получении заказа с&nbsp;онлайн оплатой в&nbsp;розничном магазине самовывозом необходимо обязательно назвать код, который отправляется в&nbsp;смс о&nbsp;готовности заказа на&nbsp;номер, указанный в&nbsp;заказе.

                    .tabs__content
                        .flex-between
                            .one-half.links
                                img(src="../../../img/img--delivery-2.png").links-img

                                ul.blue
                                    li Элемент списка 1
                                    li Элемент списка 2
                                    li Элемент списка 3

                            .one-half.text
                                h3 Контент для третьего таба

                                p Оплата заказа производится через платежную систему банка ООО &laquo;Сбербанк&raquo; при оформлении заказа.
                                p Не&nbsp;принимаются банковские карты МИР, Visa и&nbsp;MasterCard без кода CVV2/CVC2.
                                p При доставке на&nbsp;дом оплаченного онлайн-заказа сотрудник службы доставки обязан попросить предъявить документ, удостоверяющий личность, во&nbsp;избежание получения товара третьим лицом.
                                p Внимание! Во&nbsp;избежание получения товара третьими лицами, выдача товара производится только контактному лицу, указанному в&nbsp;заказе. При получении заказа с&nbsp;онлайн оплатой в&nbsp;розничном магазине самовывозом необходимо обязательно назвать код, который отправляется в&nbsp;смс о&nbsp;готовности заказа на&nbsp;номер, указанный в&nbsp;заказе.

                h2 Гарантия и&nbsp;возврат

                .flex-between.garant
                    .one-half.text
                        h3 Обмен и&nbsp;возврат товара

                        p
                            strong В&nbsp;течение 30&nbsp;дней со&nbsp;дня покупки&nbsp;Вы сможете:

                        p
                            span Обменять товар, не&nbsp;бывший в&nbsp;употреблении, по&nbsp;акции &laquo;Просто выбрать&nbsp;&mdash; легко поменять!&raquo;.
                            span Обменять товар или вернуть деньги, если обнаружится заводской дефект. Мы&nbsp;хотим, чтобы&nbsp;Вы были довольны покупками, поэтому срок обмена/возврата покупок в&nbsp;ТК&nbsp;МАРИЯ больше, чем положено по&nbsp;Закону РФ&nbsp;&laquo;О&nbsp;защите прав потребителей&raquo;.

                        p
                            strong Экспресс-сервис

                        p
                            span Цените комфорт?
                            span Хотите быть уверенными в&nbsp;надёжности вашей техники?
                            span Купите страховку &laquo;Экспресс-сервис&raquo;!

                        p Со&nbsp;страховкой &laquo;Экспресс-сервис&raquo; Вы&nbsp;получаете удобный способ решения проблем с&nbsp;техникой: ремонт в&nbsp;Вашем присутствии или обмен на&nbsp;новую технику, при этом срок решения проблемы не&nbsp;превышает 72-х часов.
                        p Вы&nbsp;можете самостоятельно выбрать период обслуживания Вашей техники: 2, 3&nbsp;года или 5&nbsp;лет.

                    .one-half.links
                        h3 Хотите вернуть или обменять?

                        p Если Вы&nbsp;не&nbsp;угадали с&nbsp;габаритами, техника не&nbsp;вписывается в&nbsp;интерьер, а&nbsp;может не&nbsp;понравился, не&nbsp;подошёл подарок, или возникли другие проблемы с&nbsp;техникой, уделите нам несколько минут и&nbsp;ответьте на&nbsp;уточняющие вопросы&nbsp;&mdash; мы&nbsp;поможем Вам.

                        img(src="../../../img/img--delivery-3.png")


    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/delivery.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});





