block vars
    - var title='Title'

extends ../../partials/layout

block content
    main
        section.cart.header--padding
            .width-wrap

                h2 Мои заказы

                div
                    span.mobile-text Основная информация
                    img(src="../../../img/img--prise.png" alt /).cart--img-prise


                .cart-list-wrap
                    ul.cart-list.cart-list--history.cart-list--left
                        li.title.flex-between
                            .cart-list--img
                            .cart-list--number
                                span № заказа
                            .cart-list--date
                                span Название
                            .cart-list--amount
                                span Кол-во
                            .cart-list--stat
                                span Статус
                            .cart-list--delivery
                                span Доставка
                            .cart-list--total
                                span Стоимость
                            .cart-list--reload

                    ul.cart-list.cart-list--history.cart-list--slider
                        li(data-id="id_1")
                            .flex-between
                                .cart-list--img
                                    div
                                        img(src="../../../img/img--item.jpg" alt /)

                                .cart-list--number
                                    span 103395

                                .cart-list--date
                                    span 10.12.20017

                                .cart-list--amount
                                    a(href="").js--open-history-list 3 товара

                                .cart-list--stat
                                    span Завершен

                                .cart-list--delivery
                                    span Самовывоз

                                .cart-list--total
                                    span 99 999 999 руб.

                                .cart-list--reload
                                    a(href="")

                            .item--list-wrap
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.


                        li(data-id="id_1")
                            .flex-between
                                .cart-list--img
                                    div
                                        img(src="../../../img/img--item.jpg" alt /)

                                .cart-list--number
                                    span 103395

                                .cart-list--date
                                    span 10.12.20017

                                .cart-list--amount
                                    a(href="").js--open-history-list 3 товара

                                .cart-list--stat
                                    span Завершен

                                .cart-list--delivery
                                    span Самовывоз

                                .cart-list--total
                                    span 99 999 999 руб.

                                .cart-list--reload
                                    a(href="")

                            .item--list-wrap
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                        li(data-id="id_1")
                            .flex-between
                                .cart-list--img
                                    div
                                        img(src="../../../img/img--item.jpg" alt /)

                                .cart-list--number
                                    span 103395

                                .cart-list--date
                                    span 10.12.20017

                                .cart-list--amount
                                    a(href="").js--open-history-list 3 товара

                                .cart-list--stat
                                    span Завершен

                                .cart-list--delivery
                                    span Самовывоз

                                .cart-list--total
                                    span 99 999 999 руб.

                                .cart-list--reload
                                    a(href="")

                            .item--list-wrap
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.


                        li(data-id="id_1")
                            .flex-between
                                .cart-list--img
                                    div
                                        img(src="../../../img/img--item.jpg" alt /)

                                .cart-list--number
                                    span 103395

                                .cart-list--date
                                    span 10.12.20017

                                .cart-list--amount
                                    a(href="").js--open-history-list 3 товара

                                .cart-list--stat
                                    span Завершен

                                .cart-list--delivery
                                    span Самовывоз

                                .cart-list--total
                                    span 99 999 999 руб.

                                .cart-list--reload
                                    a(href="")

                            .item--list-wrap
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                        li(data-id="id_1")
                            .flex-between
                                .cart-list--img
                                    div
                                        img(src="../../../img/img--item.jpg" alt /)

                                .cart-list--number
                                    span 103395

                                .cart-list--date
                                    span 10.12.20017

                                .cart-list--amount
                                    a(href="").js--open-history-list 3 товара

                                .cart-list--stat
                                    span Завершен

                                .cart-list--delivery
                                    span Самовывоз

                                .cart-list--total
                                    span 99 999 999 руб.

                                .cart-list--reload
                                    a(href="")

                            .item--list-wrap
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.


                        li(data-id="id_1")
                            .flex-between
                                .cart-list--img
                                    div
                                        img(src="../../../img/img--item.jpg" alt /)

                                .cart-list--number
                                    span 103395

                                .cart-list--date
                                    span 10.12.20017

                                .cart-list--amount
                                    a(href="").js--open-history-list 3 товара

                                .cart-list--stat
                                    span Завершен

                                .cart-list--delivery
                                    span Самовывоз

                                .cart-list--total
                                    span 99 999 999 руб.

                                .cart-list--reload
                                    a(href="")

                            .item--list-wrap
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                        li(data-id="id_1")
                            .flex-between
                                .cart-list--img
                                    div
                                        img(src="../../../img/img--item.jpg" alt /)

                                .cart-list--number
                                    span 103395

                                .cart-list--date
                                    span 10.12.20017

                                .cart-list--amount
                                    a(href="").js--open-history-list 3 товара

                                .cart-list--stat
                                    span Завершен

                                .cart-list--delivery
                                    span Самовывоз

                                .cart-list--total
                                    span 99 999 999 руб.

                                .cart-list--reload
                                    a(href="")

                            .item--list-wrap
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.


                        li(data-id="id_1")
                            .flex-between
                                .cart-list--img
                                    div
                                        img(src="../../../img/img--item.jpg" alt /)

                                .cart-list--number
                                    span 103395

                                .cart-list--date
                                    span 10.12.20017

                                .cart-list--amount
                                    a(href="").js--open-history-list 3 товара

                                .cart-list--stat
                                    span Завершен

                                .cart-list--delivery
                                    span Самовывоз

                                .cart-list--total
                                    span 99 999 999 руб.

                                .cart-list--reload
                                    a(href="")

                            .item--list-wrap
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                        li(data-id="id_1")
                            .flex-between
                                .cart-list--img
                                    div
                                        img(src="../../../img/img--item.jpg" alt /)

                                .cart-list--number
                                    span 103395

                                .cart-list--date
                                    span 10.12.20017

                                .cart-list--amount
                                    a(href="").js--open-history-list 3 товара

                                .cart-list--stat
                                    span Завершен

                                .cart-list--delivery
                                    span Самовывоз

                                .cart-list--total
                                    span 99 999 999 руб.

                                .cart-list--reload
                                    a(href="")

                            .item--list-wrap
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.


                        li(data-id="id_1")
                            .flex-between
                                .cart-list--img
                                    div
                                        img(src="../../../img/img--item.jpg" alt /)

                                .cart-list--number
                                    span 103395

                                .cart-list--date
                                    span 10.12.20017

                                .cart-list--amount
                                    a(href="").js--open-history-list 3 товара

                                .cart-list--stat
                                    span Завершен

                                .cart-list--delivery
                                    span Самовывоз

                                .cart-list--total
                                    span 99 999 999 руб.

                                .cart-list--reload
                                    a(href="")

                            .item--list-wrap
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.
                                div.flex-between
                                    .cart-list--art
                                        span DD-D-705-W16-003

                                    .cart-list--amount
                                        span 1 ед.

                                    .cart-list--title
                                        span Deux par Deux, Комбинезон зимний 226гр. (синий джинс/принт елочка)

                                    .cart-list--total
                                        span 99 999 999 руб.

                .pagination
                    a(href="").pagination-start В начало
                    a(href="").pagination-prev

                    .number-wrap
                        a(href="").pagination-number 1
                        span.pagination-number.current 2
                        a(href="").pagination-number 3
                        a(href="").pagination-number ...
                        a(href="").pagination-number 27

                    a(href="").pagination-next
                    a(href="").pagination-end В конец


