block vars

footer.footer
    .width-wrap.flex-between
        .col-sm-4.footer__col1
            p.address ООО "Торговая Компания Мария"
                br
                ="Москва, Ленинский проспект, д. 78"

            .tels-block
                .footer__tel
                    a(href="tel:84991315112") 8 (499) 131-51-12
                    span Детское питание

                .footer__tel
                    a(href="tel:84991319392") 8 (499) 131-93-92
                    span Одежда и обувь

                .footer__tel
                    a(href="tel:84991319076") 8 (499) 131-90-76
                    span Игрушки

        .col-sm-4.footer__col2
            .sprite.sprite-call

            .tels-block
                .footer__tel
                    a(href="tel:88001319392") 8 (800) 131-93-92
                    span 24-7 Поддержка

            .developed-by
                span Создание сайта

                a(href="")
                    img(src="../../../img/developed-by.png" alt="")

        .col-sm-4.footer__col3
            ul.socials-list
                li.socials-list__el
                    a(href="").socials-list__el-fb
                li.socials-list__el
                    a(href="").socials-list__el-tw
                li.socials-list__el
                    a(href="").socials-list__el-vk
                li.socials-list__el
                    a(href="").socials-list__el-in

            img(src="../../../img/want.png").footer__img