@import 'partials/responsive';
@import 'partials/color';
@import 'partials/mixins';
@import 'partials/fonts';
@import 'partials/reset';
@import 'partials/text';

// UI
@import 'ui/btn';
@import 'ui/form';
@import 'ui/input';
@import 'ui/vendor/formstyler';
@import 'ui/vendor/owlcarousel';
@import 'ui/vendor/animate';
@import 'ui/vendor/fancy';
@import 'ui/vendor/nanoscroller';
@import 'ui/vendor/jqueryui';

// blocks
@import 'blocks/header';
@import 'blocks/footer';
@import 'blocks/dropdown';
@import 'blocks/pagination';
@import 'blocks/sliders';

//pages
@import 'pages/pageIndex';
@import 'pages/pageCart';
@import 'pages/pageLk';
@import 'pages/pageBlog';
@import 'pages/pageAbout';
@import 'pages/pagePartner';
@import 'pages/pageFaq';
@import 'pages/pageDelivery';
@import 'pages/pageBrands';
@import 'pages/pageItem';
@import 'pages/pageCatalog';