block vars
    - var title='Title'

extends ../../partials/layout

block content
    main
        section.faq.header--padding
            .width-wrap
                h2 Часто задаваемые вопросы

                .accordeon
                    h3.acc__trigger
                        i

                        span Как зарезервировать товар?

                    .acc__container
                        .text
                            p В&nbsp;описании товара нажмите вкладку &laquo;Наличие в&nbsp;магазинах&raquo;. Откроется список магазинов с&nbsp;информацией о&nbsp;наличии товара и&nbsp;возможных сроках его получения. Нажмите кнопку &laquo;Выбрать&raquo; и&nbsp;перейдите в&nbsp;корзину, где отметьте вариант &laquo;Забрать в&nbsp;магазине&raquo; и&nbsp;оформите заказ.

                    h3.acc__trigger
                        i

                        span Товара нет в&nbsp;магазине, однако срок доставки &laquo;Завтра&raquo;.
                            br
                            ="Что это означает?"

                    .acc__container
                        .text
                            p В&nbsp;описании товара нажмите вкладку &laquo;Наличие в&nbsp;магазинах&raquo;. Откроется список магазинов с&nbsp;информацией о&nbsp;наличии товара и&nbsp;возможных сроках его получения. Нажмите кнопку &laquo;Выбрать&raquo; и&nbsp;перейдите в&nbsp;корзину, где отметьте вариант &laquo;Забрать в&nbsp;магазине&raquo; и&nbsp;оформите заказ.

                    h3.acc__trigger
                        i

                        span Где можно посмотреть характеристики товара?

                    .acc__container
                        .text
                            p В&nbsp;описании товара нажмите вкладку &laquo;Наличие в&nbsp;магазинах&raquo;. Откроется список магазинов с&nbsp;информацией о&nbsp;наличии товара и&nbsp;возможных сроках его получения. Нажмите кнопку &laquo;Выбрать&raquo; и&nbsp;перейдите в&nbsp;корзину, где отметьте вариант &laquo;Забрать в&nbsp;магазине&raquo; и&nbsp;оформите заказ.

                    h3.acc__trigger
                        i

                        span Где найти инструкцию к&nbsp;товару?

                    .acc__container
                        .text
                            p В&nbsp;описании товара нажмите вкладку &laquo;Наличие в&nbsp;магазинах&raquo;. Откроется список магазинов с&nbsp;информацией о&nbsp;наличии товара и&nbsp;возможных сроках его получения. Нажмите кнопку &laquo;Выбрать&raquo; и&nbsp;перейдите в&nbsp;корзину, где отметьте вариант &laquo;Забрать в&nbsp;магазине&raquo; и&nbsp;оформите заказ.

                    h3.acc__trigger
                        i

                        span Как сравнить несколько товаров?

                    .acc__container
                        .text
                            p В&nbsp;описании товара нажмите вкладку &laquo;Наличие в&nbsp;магазинах&raquo;. Откроется список магазинов с&nbsp;информацией о&nbsp;наличии товара и&nbsp;возможных сроках его получения. Нажмите кнопку &laquo;Выбрать&raquo; и&nbsp;перейдите в&nbsp;корзину, где отметьте вариант &laquo;Забрать в&nbsp;магазине&raquo; и&nbsp;оформите заказ.
