$cGray_m =  #858a90;
$cGray_l =  #c9cbce;
$cGray =  #3f4954;
$cBlack =  #000000;
$cBrown =  #362510;
$cBlue_l =  #d5edfc;
$cBlue_m =  #7bbfeb;
$cBlue_d =  #0477c2;
$cWhite =  #ffffff;
$cOrange =  #e37b2c;
$cPink =  #c32340;
$cGreen =  #65b001;

