a, p, span, li, input, time, blockquote, textarea
  font-family $fUbuntu
  font-size 14px
  line-height normal
  text-decoration none
  color $cGray

a
  cursor pointer

b
  font-weight bold

span.title
  display block
  color $cBrown
  font-weight bold

h1
  font-family $fLato
  color $cBlack
  font-size 48px
  line-height 73px
  text-align left
  display block
  font-weight bold

h2
  font-family $fTtlimesslab
  color $cGray
  font-size 36px
  display block
  text-align center
  margin-bottom 40px;

  i
    color $cGray_m
    font-style normal

h3
  display block
  text-align left
  font-size 24px
  color $cGray
  font-family $fUbuntu_m
  margin-bottom 28px

  @media tb
    text-align center
    font-size 22px

  @media tb
    font-size 20px

  span
    font inherit




