.partner
  h2
    margin-bottom 59px

  &-img
    display inline-block
    vertical-align top
    width 214px
    height 151px
    margin-top -14px
    margin-right 77px

    @media nb
      margin-right 0px
      width 180px
      height auto

    @media tb
      display block
      margin 20px auto

  .flex-between
    @media tb
      display block !important

  .text
    margin-left 30px
    position relative

    @media tb
      margin-left 0

    &__el
      display block
      width 820px
      padding-bottom 46px

      &:first-child
        width 100%

        h3
          margin-bottom 25px

      h3
        margin-bottom 0

        @media tb
          text-align left

      .text-decor
        display inline-block
        vertical-align top
        width 849px
        height 159px
        background url("../img/bg--partner.png") no-repeat 0 0
        background-size 100% 100%
        margin-left -30px
        padding-top 60px
        padding-left 34px
        margin-bottom 13px

        @media tb
          display block
          width auto
          margin-left -15px
          margin-right -15px
          background #eaeff4
          padding-left 15px
          height auto
          padding-top 30px
          padding-bottom 10px

        li
          display inline-flex
          align-items center
          justify-content flex-start
          vertical-align top
          margin-right 30px

          @media tb
            margin-right 15px

          @media mb
            display flex
            width 300px
            margin 0 auto 20px

          &:first-child
            p
              width 135px

          &:last-child
            margin-right 0

            @media mb
              margin-right auto

          span
            display inline-block
            vertical-align top
            width 38px
            height 39px
            background url("../img/bg--number.png") no-repeat 0 0
            text-align center
            line-height 39px
            font-weight bold
            padding-left 3px
            margin-right 20px

          p
            display inline-block
            vertical-align top
            font-weight bold
            width 190px

