block vars
    - var title='Title'

extends ../../partials/layout

block content
    main
        section.header--padding
            .width-wrap
                h2 Категории в которых идет распродажа

        section.slider-discount.item-slider-discount
            a(href="").slider-discount__el.slider-discount__el-beige
                img(src="../../../img/img--slider-docsount-1.png" alt /)

                .content
                    span.text-right Скидки до 30%
                    span.name Платья
                    .decor-left
                        span Перейти в раздел

            a(href="").slider-discount__el.slider-discount__el-blue
                img(src="../../../img/img--slider-docsount-2.png" alt /)

                .content
                    span.text-right Скидки до 30%
                    span.name Головные уборы
                    .decor-left
                        span Перейти в раздел


            a(href="").slider-discount__el.slider-discount__el-brown
                img(src="../../../img/img--slider-docsount-3.png" alt /)

                .content
                    span.text-right Скидки до 30%
                    span.name Обувь
                    .decor-left
                        span Перейти в раздел

            a(href="").slider-discount__el.slider-discount__el-beige
                img(src="../../../img/img--slider-docsount-1.png" alt /)

                .content
                    span.text-right Скидки до 30%
                    span.name Платья
                    .decor-left
                        span Перейти в раздел

            a(href="").slider-discount__el.slider-discount__el-blue
                img(src="../../../img/img--slider-docsount-2.png" alt /)

                .content
                    span.text-right Скидки до 30%
                    span.name Головные уборы
                    .decor-left
                        span Перейти в раздел


            a(href="").slider-discount__el.slider-discount__el-brown
                img(src="../../../img/img--slider-docsount-3.png" alt /)

                .content
                    span.text-right Скидки до 30%
                    span.name Обувь
                    .decor-left
                        span Перейти в раздел


        section.item
            .width-wrap
                ul.breadcrumbs
                    li
                        a(href="")
                            strong Главная
                    li
                        a(href="") Одежда
                    li
                        a(href="") Толстовки, фуфайки, майки, футболки, свитеры и&nbsp;водолазки
                    li
                        span
                            strong Толстовки

                .flex-between
                    .one-half.item--img
                        .tabs
                            .tabs__content.active
                                img(src="../../../img/img--item-l.jpg" alt /)
                            .tabs__content
                                img(src="../../../img/img--item-l.jpg" alt /)
                            .tabs__content
                                img(src="../../../img/img--item-l.jpg" alt /)
                            .tabs__content
                                img(src="../../../img/img--item-l.jpg" alt /)
                            .tabs__content
                                img(src="../../../img/img--item-l.jpg" alt /)

                            ul.tabs__caption
                                li.active
                                    img(src="../../../img/img--item.jpg" alt /)
                                li
                                    img(src="../../../img/img--item.jpg" alt /)
                                li
                                    img(src="../../../img/img--item.jpg" alt /)
                                li
                                    img(src="../../../img/img--item.jpg" alt /)
                                li
                                    img(src="../../../img/img--item.jpg" alt /)

                    .one-half.item--params
                        form(action="" method="post").main-form
                            a(href="").item--params-fabricator  DEUX par DEUX
                            span.item--params-code Артикул: DD-D-705-W16-003

                            span.item--params-name Deux par Deux, Комбинезон зимний 226гр.
                                br
                                ="(синий джинс/принт елочка)"

                            ul.stars
                                li.active
                                li.active
                                li.active
                                li.active
                                li

                            .flex-between
                                .item--params-price
                                    span.item--params-price-current 999 999,99
                                        small руб.
                                    span.item--params-price-old Старая цена
                                        i 4 200 руб.

                                .item--params-color.grid
                                    label.radio-color.grid-item
                                        input(type="radio" checked name="color" value="color1")
                                        div(style="background: #ff1313")

                                    label.radio-color.grid-item
                                        input(type="radio" name="color" value="color1")
                                        div(style="background: #ffbf11")

                                    label.radio-color.grid-item
                                        input(type="radio" name="color" value="color1")
                                        div(style="background: #60a4ee")

                                    label.radio-color.grid-item
                                        input(type="radio" name="color" value="color1")
                                        div(style="background: #55ce3d")

                                    label.radio-color.grid-item
                                        input(type="radio" name="color" value="color1")
                                        div(style="background: #cd4eed")

                                    label.radio-color.radio-color-white.grid-item
                                        input(type="radio" name="color" value="color1")
                                        div(style="background: #ffffff")

                            .item--params-data
                                div
                                    span
                                        strong Сезон:
                                        =" 2017"
                                div
                                    span
                                        strong Гарантия:
                                        =" 365 дней"
                                div
                                    span
                                        strong Доставка:
                                        =" завтра, бесплатно"
                                div
                                    span
                                        strong В наличии:
                                        =" есть"
                                div
                                    span
                                        strong Размер:
                                        =" XXXL"
                                div
                                    script(src="http://yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
                                    script(src="http://yastatic.net/share2/share.js")
                                    div(data-services="vkontakte,facebook,odnoklassniki,twitter").share.ya-share2

                            .item--params-btns
                                .item--params-btns-value
                                    a(href="").btn.btn-minus.js--minus -
                                    input(type="text" name="amount" value="1" maxlength="3").inp-number
                                    a(href="").btn.btn-plus.js--plus +

                                a(href="").btn.btn-white.js--one-click В 1 клик

                                a(href="").btn.btn-blue.js--add-item В корзину

                .mobile-select
                    select.js--select-styled
                        option Описание
                        option Все характеристики
                        option Отзывы
                        option Видео
                        option Вопрос-ответ

                .tabs.item--about
                    ul.tabs__caption
                        li.active Описание
                        li Все характеристики
                        li Отзывы
                        li Видео
                        li Вопрос-ответ

                    .tabs__content.active
                        p Верхняя одежда Deux par Deux имеет внешнее покрытие DuPont Teflon, внутреннее&nbsp;&mdash; 100% полиуретан. Благодаря этому ткань обеспечивает защиту от&nbsp;грязи, а&nbsp;также маслосодержащих загрязнений и&nbsp;обеспечивает водостойкость 5000&nbsp;мм (показатель водостойкости стандартного дождевика&nbsp;&mdash; 1300&nbsp;мм).

                        .flex-between
                            .one-half
                                h3 Особенности:

                                span Эластичные регулируемые манжеты
                                span Съемные пинетки и&nbsp;рукавички снабжены веревочкой во&nbsp;избежания потери и&nbsp;кнопками
                                span Молния с&nbsp;защитой подбородка
                                span Внутри капюшон, воротник, пинетки, митенки на&nbsp;подкладке из&nbsp;флиса
                                span Регулируемая кулиска на&nbsp;талии
                                span Наличие петельки, чтобы повесить одежду
                                span Наличие этикетки с&nbsp;ФИО ребенка внутри
                                span Наличие светоотражателей

                            .one-half
                                h3 Состав комплекта:

                                ul.text-list
                                    li комбинезон
                                    li шарф (флис)
                                    li манишка (флис)
                                    li варежки
                                    li пинетки

        section.related
            .width-wrap
                h2 C&nbsp;этим товаром часто покупают:

                .slider-item
                    .slider-item__el
                        .slider-item__el-discount
                            span -30%

                        a(href="").slider-item__el-img
                            img(src="../../../img/img-old/pic2.jpg" alt /)

                        a(href="").slider-item__el-title Платье Aletta
                        a(href="").slider-item__el-code Артикул

                        ul.stars
                            li.active
                            li.active
                            li.active
                            li.active
                            li

                        span.slider-item__el-old-price 5 200 руб.
                        span.slider-item__el-new-price 6 630 руб.
                        span.slider-item__el-profit выгода 1 890 руб. или 30%

                        .slider-item__el-links
                            a(href="../../../img/img-old/pic2.jpg").fancy.btn.btn-show
                            a(href="").btn.btn-basket.js--add-item

                    .slider-item__el
                        .slider-item__el-discount
                            span -30%

                        a(href="").slider-item__el-img
                            img(src="../../../img/img-old/pic2.jpg" alt /)

                        a(href="").slider-item__el-title Платье Aletta
                        a(href="").slider-item__el-code Артикул

                        ul.stars
                            li.active
                            li.active
                            li.active
                            li.active
                            li

                        span.slider-item__el-old-price 5 200 руб.
                        span.slider-item__el-new-price 6 630 руб.
                        span.slider-item__el-profit выгода 1 890 руб. или 30%

                        .slider-item__el-links
                            a(href="../../../img/img-old/pic2.jpg").fancy.btn.btn-show
                            a(href="").btn.btn-basket.js--add-item

                    .slider-item__el
                        .slider-item__el-discount
                            span -30%

                        a(href="").slider-item__el-img
                            img(src="../../../img/img-old/pic2.jpg" alt /)

                        a(href="").slider-item__el-title Платье Aletta
                        a(href="").slider-item__el-code Артикул

                        ul.stars
                            li.active
                            li.active
                            li.active
                            li.active
                            li

                        span.slider-item__el-old-price 5 200 руб.
                        span.slider-item__el-new-price 6 630 руб.
                        span.slider-item__el-profit выгода 1 890 руб. или 30%

                        .slider-item__el-links
                            a(href="../../../img/img-old/pic2.jpg").fancy.btn.btn-show
                            a(href="").btn.btn-basket.js--add-item

                    .slider-item__el
                        .slider-item__el-discount
                            span -30%

                        a(href="").slider-item__el-img
                            img(src="../../../img/img-old/pic2.jpg" alt /)

                        a(href="").slider-item__el-title Платье Aletta
                        a(href="").slider-item__el-code Артикул

                        ul.stars
                            li.active
                            li.active
                            li.active
                            li.active
                            li

                        span.slider-item__el-old-price 5 200 руб.
                        span.slider-item__el-new-price 6 630 руб.
                        span.slider-item__el-profit выгода 1 890 руб. или 30%

                        .slider-item__el-links
                            a(href="../../../img/img-old/pic2.jpg").fancy.btn.btn-show
                            a(href="").btn.btn-basket.js--add-item

                    .slider-item__el
                        .slider-item__el-discount
                            span -30%

                        a(href="").slider-item__el-img
                            img(src="../../../img/img-old/pic2.jpg" alt /)

                        a(href="").slider-item__el-title Платье Aletta
                        a(href="").slider-item__el-code Артикул

                        ul.stars
                            li.active
                            li.active
                            li.active
                            li.active
                            li

                        span.slider-item__el-old-price 5 200 руб.
                        span.slider-item__el-new-price 6 630 руб.
                        span.slider-item__el-profit выгода 1 890 руб. или 30%

                        .slider-item__el-links
                            a(href="../../../img/img-old/pic2.jpg").fancy.btn.btn-show
                            a(href="").btn.btn-basket.js--add-item

        section.interested
            .width-wrap
                h2 Вас интересовали

                .slider-item
                    .slider-item__el
                        .slider-item__el-discount
                            span -30%

                        a(href="").slider-item__el-img
                            img(src="../../../img/img-old/pic2.jpg" alt /)

                        a(href="").slider-item__el-title Платье Aletta
                        a(href="").slider-item__el-code Артикул

                        ul.stars
                            li.active
                            li.active
                            li.active
                            li.active
                            li

                        span.slider-item__el-old-price 5 200 руб.
                        span.slider-item__el-new-price 6 630 руб.
                        span.slider-item__el-profit выгода 1 890 руб. или 30%

                        .slider-item__el-links
                            a(href="../../../img/img-old/pic2.jpg").fancy.btn.btn-show
                            a(href="").btn.btn-basket.js--add-item

                    .slider-item__el
                        .slider-item__el-discount
                            span -30%

                        a(href="").slider-item__el-img
                            img(src="../../../img/img-old/pic2.jpg" alt /)

                        a(href="").slider-item__el-title Платье Aletta
                        a(href="").slider-item__el-code Артикул

                        ul.stars
                            li.active
                            li.active
                            li.active
                            li.active
                            li

                        span.slider-item__el-old-price 5 200 руб.
                        span.slider-item__el-new-price 6 630 руб.
                        span.slider-item__el-profit выгода 1 890 руб. или 30%

                        .slider-item__el-links
                            a(href="../../../img/img-old/pic2.jpg").fancy.btn.btn-show
                            a(href="").btn.btn-basket.js--add-item

                    .slider-item__el
                        .slider-item__el-discount
                            span -30%

                        a(href="").slider-item__el-img
                            img(src="../../../img/img-old/pic2.jpg" alt /)

                        a(href="").slider-item__el-title Платье Aletta
                        a(href="").slider-item__el-code Артикул

                        ul.stars
                            li.active
                            li.active
                            li.active
                            li.active
                            li

                        span.slider-item__el-old-price 5 200 руб.
                        span.slider-item__el-new-price 6 630 руб.
                        span.slider-item__el-profit выгода 1 890 руб. или 30%

                        .slider-item__el-links
                            a(href="../../../img/img-old/pic2.jpg").fancy.btn.btn-show
                            a(href="").btn.btn-basket.js--add-item

                    .slider-item__el
                        .slider-item__el-discount
                            span -30%

                        a(href="").slider-item__el-img
                            img(src="../../../img/img-old/pic2.jpg" alt /)

                        a(href="").slider-item__el-title Платье Aletta
                        a(href="").slider-item__el-code Артикул

                        ul.stars
                            li.active
                            li.active
                            li.active
                            li.active
                            li

                        span.slider-item__el-old-price 5 200 руб.
                        span.slider-item__el-new-price 6 630 руб.
                        span.slider-item__el-profit выгода 1 890 руб. или 30%

                        .slider-item__el-links
                            a(href="../../../img/img-old/pic2.jpg").fancy.btn.btn-show
                            a(href="").btn.btn-basket.js--add-item

                    .slider-item__el
                        .slider-item__el-discount
                            span -30%

                        a(href="").slider-item__el-img
                            img(src="../../../img/img-old/pic2.jpg" alt /)

                        a(href="").slider-item__el-title Платье Aletta
                        a(href="").slider-item__el-code Артикул

                        ul.stars
                            li.active
                            li.active
                            li.active
                            li.active
                            li

                        span.slider-item__el-old-price 5 200 руб.
                        span.slider-item__el-new-price 6 630 руб.
                        span.slider-item__el-profit выгода 1 890 руб. или 30%

                        .slider-item__el-links
                            a(href="../../../img/img-old/pic2.jpg").fancy.btn.btn-show
                            a(href="").btn.btn-basket.js--add-item

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/item.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});





